.banner-section {
    height: calc(100vh - 80px);
    background-image: url('../images/banner_image.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-weight: 600;
}

.banner .first-text, .second-text, .third-text {
    color: #ffffff;
    font-weight: 600;
}
