.footer {
    background-color: #ffffff;
    padding: 20px;
    margin-top: 20px;
}

.footer p {
    margin: 0;
    font-size: 16px;
    letter-spacing: 1.2px;
    color: #34a8ff;
    font-weight: 400;
}
