.header {
    position: sticky;
    width: 100%;
    height: 80px;
    background-color: #ffffff;
    box-shadow: 0 0 10px -6px #5a5a5a;
    top: 0;
    left: 0;
    z-index: 999;
}

.my-navbar {
    height: 100%;
}

.my-navbar .my-navbar-nav a {
    padding: 0 15px;
    font-size: 15px;
    color: #00a8ff;
    cursor: pointer;
}

.my-navbar .my-navbar-nav a.active {
    color: #ff4081;
    transition: background-color 2s ease-out;
}

.my-navbar .my-navbar-nav a:hover {
    color: #00a8ff;
}

.my-navbar .navbar-logo {
    font-size: 26px;
    font-weight: bold;
    color: #00a8ff;
    z-index: 1;
}

.my-navbar-brand {
    position: relative;
    display: inline-block;
    color: #ffffff;
    margin-right: 10px;
}

.my-navbar-brand::before {
    position: absolute;
    content: "";
    height: 40px;
    width: 40px;
    top: 0;
    right: 50%;
    transform: translateX(50%);
    border-radius: 50%;
    background-color: #00a8ff;
    z-index: -1;
}
