.loader {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading-icon {
    height: 80px;
    width: 80px;
    border: 1px solid transparent;
    border-top-color: #00a8ff;
    border-left-color: #00a8ff;
    border-radius: 50%;
    animation: loading-spinner 500ms linear infinite;
}

@keyframes loading-spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg)
    }
}
