.resume {
    min-height: calc(100vh - 225px);
}

.resume .resume-menu ul {
    padding-left: 0;
    list-style: none;
}

.resume .resume-menu ul li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding: 5px 10px;
    text-align: left;
    background-color: #00a8ff;
}
.resume .resume-menu ul li .resume-li-icon {
    font-size: 16px;
    color: #ffffff;
}

.resume .resume-menu ul li .resume-link {
    font-size: 14px;
    padding-left: 10px;
    color: #ffffff;
    text-decoration: none;
}

.resume .menu-content {
    /*padding-top: 20px;*/
}

.menu-content .menu-content-card {
    border-radius: 0;
    box-shadow: 0 0 8px -4px #5a5a5a;
}

.menu-content .menu-content-header {
    background-color: #ffffff;
    color: #00a8ff;
    font-weight: 600;
}

.resume .menu-content .menu-content-badge {
    background-color: #00a8ff;
    color: #ffffff;
    padding: 5px 3px;
}

.menu-content .menu-content-text {
    padding-top: 7px;
    font-size: 13px;
    line-height: 20px;
    font-weight: 300;
}

.resume-education .institute-name {
    font-weight: 400;
    font-size: 14px;
    color: #313131;
    padding-top: 10px;
    margin-bottom: 0;
}

.resume-experience .experience-title {
    font-weight: 400;
    font-size: 14px;
    color: #313131;
}

.resume-experience .experience-text {
    font-weight: 300;
    font-size: 13px;
}

.resume-skills .skills-header {
    color: #00a8ff;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 500;
}

.resume-skills .resume-skills-progress {
    background-color: #ffffff;
    border: 1px solid #cccccc;
}

.resume-skills .resume-skills-progress-bar {
    background-color: #00a8ff;
    font-weight: bold;
}

.resume-experience .experience-title {
    padding-top: 10px;
}

.resume-experience .experience-text {
    padding: 0;
}
