.services-content .service-card {
    margin-bottom: 20px;
}

.services-content .service-card .service-card-details {
    padding: 10px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    background-color: #ffffff;

}

.service-card-details .service-title {
    font-weight: 600;
    font-size: 18px;
    color: #424040e6;
    text-align: center;
}

.service-card-details .service-text {
    font-size: 14px;
    font-weight: 300;
}

.services-content .service-icon-content {
    padding: 20px 0;
    text-align: center;
}

.services-content .service-icon {
    font-size: 40px;
    color: #00a8ff;
}
